.todo-wrapper {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  padding: 0rem 20rem;
  position: relative;
  color: white;
  /* align-items: start;
  justify-content: start; */
}

/* from here  */
.background-glow {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 35%;
    left: 40%;
    border-radius: 50%;
    background: radial-gradient(circle, rgba(74, 195, 255, 0.8), transparent);
    filter: blur(80px);
    animation: glowAnimation 6s ease-in-out infinite alternate;
    z-index: -5;
  }
  
  .background-glow:nth-child(2) {
    left: 15%;
    top: 20%;
    background: radial-gradient(circle, rgba(173, 83, 137, 0.8), transparent);
  }
  
  .background-glow:nth-child(3) {
    right: 10%;
    bottom: 15%;
    background: radial-gradient(circle, rgba(255, 178, 102, 0.8), transparent);
  }
  
  @keyframes glowAnimation {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    100% {
      transform: scale(1.2);
      opacity: 1;
    }
  }

  /* to here */


.todo-container {
  display: flex;
  /* gap: 1%; */
  overflow-y: hidden;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background: radial-gradient(ellipse at center, #0f0f1a, #0a0a11); */
}

/* Left design  */
.todo-left {
  min-width: 20rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-height: max-content;
  border-radius: 10px;
  padding: 1rem 2rem;
  color: white;
}
.header {
}
.header-title{
  font-weight: 600;
  font-size: 1.7rem;
}
.todo-left hr {
  height: .5px;
  border: none;
  background: rgb(173, 173, 173);
}
.catagories{
  padding: 1rem 0;
  gap: .3rem;
}
.catagories hr{
  height: .5px;
  border: none;
  background: rgb(173, 173, 173);
}
.row{
  padding: 1rem 1rem;
  width: max-content;
  border-radius: 5px;
}
.row:hover{
  cursor: pointer;
}
.header-desc {
  font-weight: 400;
  color: rgb(197, 197, 197);
  font-size: .8rem;
}
.nav-right{
  gap: 2rem;
  margin-left: 5%;
}

/* Right design */
.todo-right {
  color:white;
  padding: 2rem;
  width: max-content;
  max-height: 40rem;
  /* border: 2px solid rgba(255, 255, 255, 0.2); */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  overflow-y: scroll;
  scrollbar-width: none;
  background: rgb(50, 71, 85);
}
